body {
    background-color: rgb(255, 255, 255);
}

.header {
    margin: 0;
    margin-top: -90px;
}

.header h1 {
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    font-size: 50px;

}

.header .one,
.header .two {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    box-shadow: none;
}

.header .one:hover,
.header .two:hover {
    box-shadow: none;
}

.K,
.E,
.Y,
.B,
.O,
.A,
.R,
.D {
    color: rgb(255, 162, 0);
    font-size: 90px;
    margin-left: 8px;
}

.K:hover {
    color: grey;
    transition: .3s;
}

.E:hover {
    color: rgb(155, 255, 183);
    transition: .3s;
}

.Y:hover {
    color: rgb(254, 80, 80);
    transition: .3s;
}

.B:hover {
    color: rgb(230, 156, 255);
    transition: .3s;
}

.O:hover {
    color: rgb(0, 255, 251);
    transition: .3s;
}

.A:hover {
    color: rgb(216, 255, 255);
    transition: .3s;
}

.R:hover {
    color: blueviolet;
    transition: .3s;
}

.D:hover {
    color: beige;
    transition: .3s;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-left: 30px;
}

p {
    font-size: 20px;
}

#control,
#option {
    font-size: 10px;
}

#command {
    font-size: 7px;
}

#row1,
#row2,
#row3,
#row4,
#row5 {
    height: 90px;
    display: flex;
    margin-bottom: 0px;
    border-radius: 10px;
}

#row6 {
    height: 90px;
    display: flex;
    margin-bottom: 50px;
    border-radius: 10px;
}

.multi {
    font-size: 30px;
    text-decoration: none;
    color: black;
    background-image: linear-gradient(50deg, rgb(255, 197, 89), rgb(255, 105, 235), rgb(108, 108, 255), rgb(44, 255, 44));
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 40px;
}

.ud1 {
    font-size: 8px
}

.ud2 {
    font-size: 8px;
}

/* rows */



/* BUTTONS */

/* row1 */

.esc {
    margin-left: 0px;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    background-color: rgb(255, 136, 61);
    border: none;
    box-shadow: 0px 13px 3px 1px rgb(129, 75, 0);
}

.pow {
    margin-left: 16px;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    background-color: rgb(255, 136, 61);
    border: none;
    box-shadow: 0px 13px 3px 1px rgb(129, 75, 0);
}

.f1,
.f2,
.f3,
.f4,
.f5,
.f6,
.f7,
.f8,
.f9,
.f10,
.f11,
.f12 {
    margin-left: 7px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    background-color: rgb(185, 170, 170);
    border: none;
    box-shadow: 0px 13px 3px 1px rgb(129, 128, 128);
}



/* row2 */



.approx {
    margin-left: 0px;
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    background-color: rgb(185, 170, 170);
    border: none;
    box-shadow: 0px 13px 3px 1px rgb(129, 128, 128);
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.zero,
.minus,
.plus {
    margin-left: 12.4px;
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    background-color: rgb(185, 170, 170);
    border: none;
    box-shadow: 0px 13px 3px 1px rgb(129, 128, 128);
}

.del {
    margin-left: 8px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    background-color: rgb(185, 170, 170);
    border: none;
    box-shadow: 0px 13px 3px 1px rgb(129, 128, 128);
}


/* row3 */


.q,
.w,
.e,
.r,
.t,
.y,
.u,
.i,
.o,
.p,
.less-than,
.greather-than,
.slash {
    margin-left: 12px;
    padding-left: 30.7px;
    padding-right: 30.7px;
    padding-top: 1px;
    padding-bottom: 3px;
    border-radius: 10px;
    background-color: rgb(185, 170, 170);
    border: none;
    box-shadow: 0px 13px 3px 1px rgb(129, 128, 128);
}

.tab {
    margin-left: 0px;
    margin-right: 4px;
    padding-left: 44px;
    padding-right: 44px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    background-color: rgb(185, 170, 170);
    border: none;
    box-shadow: 0px 13px 3px 1px rgb(129, 128, 128);
}



/* row4 */


.a,
.s,
.d,
.f,
.g,
.h,
.j,
.k,
.l,
.colon-dash,
.apostaphy {
    margin-left: 12px;
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    background-color: rgb(185, 170, 170);
    border: none;
    box-shadow: 0px 13px 3px 1px rgb(129, 128, 128);
}

.caps {
    margin-left: 0px;
    padding-left: 44.5px;
    padding-right: 44.5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    background-color: rgb(185, 170, 170);
    border: none;
    box-shadow: 0px 13px 3px 1px rgb(129, 128, 128);
}

.return {
    margin-left: 17.5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    background-color: rgb(185, 170, 170);
    border: none;
    box-shadow: 0px 13px 3px 1px rgb(129, 128, 128);
}


/* row5 */

.z,
.x,
.c,
.v,
.b,
.n,
.m,
.coma,
.dot {
    margin-left: 12px;
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    background-color: rgb(185, 170, 170);
    border: none;
    box-shadow: 0px 13px 3px 1px rgb(129, 128, 128);
}

.fslash {
    margin-left: 12px;
    margin-right: 12px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    background-color: rgb(185, 170, 170);
    border: none;
    box-shadow: 0px 13px 3px 1px rgb(129, 128, 128);
}

.shift {
    margin-left: 0px;
    padding-left: 63.5px;
    padding-right: 63.5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    background-color: rgb(185, 170, 170);
    border: none;
    box-shadow: 0px 13px 3px 1px rgb(129, 128, 128);
}


/* row6 */

.fn {
    margin-left: 0px;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    background-color: rgb(185, 170, 170);
    border: none;
    box-shadow: 0px 13px 3px 1px rgb(129, 128, 128);
}

.control,
.option {
    margin-left: 8px;
    margin-right: 2px;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 10px;
    background-color: rgb(185, 170, 170);
    border: none;
    box-shadow: 0px 13px 3px 1px rgb(129, 128, 128);
}

.command {
    margin-left: 8px;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 23.5px;
    padding-bottom: 23.5px;
    border-radius: 10px;
    background-color: rgb(185, 170, 170);
    border: none;
    box-shadow: 0px 13px 3px 1px rgb(129, 128, 128);
}

.space-bar {
    margin-left: 8px;
    padding-left: 168px;
    padding-right: 168px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    background-color: rgb(185, 170, 170);
    border: none;
    box-shadow: 0px 13px 3px 1px rgb(129, 128, 128);
}

.left {
    margin-left: 8px;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    background-color: rgb(185, 170, 170);
    border: none;
    box-shadow: 0px 13px 3px 1px rgb(129, 128, 128);
}

.right {
    margin-left: 3px;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    background-color: rgb(185, 170, 170);
    border: none;
    box-shadow: 0px 13px 3px 1px rgb(129, 128, 128);
}

.up,
.down {
    margin-bottom: 2px;
    margin-left: 3px;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    background-color: rgb(185, 170, 170);
    border: none;
    box-shadow: 0px 10px 3px 1px rgb(129, 128, 128);
}


/* hover effect */


.bg:hover {
    cursor: pointer;
    margin-top: 6px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    box-shadow: 0px 9px 3px 1px rgb(129, 128, 128);
    transition: .1s;

}

.control:hover,
.option:hover {
    cursor: pointer;
    margin-top: 8px;
    padding-top: 18px;
    padding-bottom: 18px;
    transition: .1s;
    box-shadow: 0px 9px 3px 1px rgb(129, 128, 128);
}

.command:hover {
    cursor: pointer;
    margin-top: 9px;
    padding-top: 21px;
    padding-bottom: 21px;
    transition: .1s;
    box-shadow: 0px 9px 3px 1px rgb(129, 128, 128);
}

.up:hover {
    margin-top: 2px;
    margin-bottom: 6px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: .1s;
    box-shadow: 0px 9px 3px 1px rgb(129, 128, 128);
}

.down:hover {
    margin-top: 4px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: .1s;
    box-shadow: 0px 9px 3px 1px rgb(129, 128, 128);
}



.bg.active {
    transition: .02s;
    color: white;
    margin-top: 10px;
    padding-top: -5px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 2px 0.8px rgb(0, 0, 0);
}

.control:active,
.option:active {
    transition: .1s;
    color: white;
    margin-top: 14px;
    box-shadow: 0px 0px 2px .8px rgb(0, 0, 0);
}

.command:active {
    transition: .1s;
    color: white;
    margin-top: 14px;
    box-shadow: 0px 0px 2px .8px rgb(0, 0, 0);
}

.up:active {
    transition: .1s;
    color: white;
    margin-top: 8px;
    margin-bottom: -2px;
    box-shadow: 0px 0px 2px .8px rgb(0, 0, 0);
}

.down:active {
    transition: .1s;
    color: white;
    margin-top: 10px;
    box-shadow: 0px 0px 2px .8px rgb(0, 0, 0);
}